nav ul li {
    margin: 0 10px; /* Уменьшение отступов между пунктами меню */
}

nav ul li a {
    padding: 8px 10px; /* Уменьшение внутреннего отступа */
    font-size: 14px; /* Уменьшение размера шрифта, если требуется */
}

.language-selector a {
    margin-left: 5px; /* Уменьшение отступов между языковыми кнопками */
    padding: 8px 10px; /* Уменьшение внутреннего отступа */
    font-size: 14px; /* Уменьшение размера шрифта, если требуется */
}
